body {
    font-family: 'Nunito', sans-serif;
}

.p-4 {
    padding: 1rem;
}

nav a {
    padding: 0.5rem;
}

.border-1 {
    border-width: .07rem;
}

form {
    padding: 2rem;
    background-color: gray;
}

form input {
    margin-bottom: 1rem;
}

form .container {
    display: flex;
    justify-content: center;
}

form div>input {
    display: block;
}

form div>button {
    padding: 5px;
    background-color: #6f6f6f;
}

form div>button:hover {
    background-color: #a9a9a9;
}