body {
    font-family: 'Nunito', sans-serif;
}

.p-4 {
    padding: 1rem;
}

nav a {
    padding: 0.5rem;
}

.border-1 {
    border-width: .07rem;
}

.menu-container {
    display: flex;
    justify-content: center;
    background-color: #41ae78;
}

.small-menu-container {

}

form {
    width:  250px;
    height: 300px;
    padding: 1.5rem;
    background-color: rgb(88, 171, 69);
    border: 5px solid black;
}

.pizza {
    background-color: #cf8a00;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.pizza:hover {
    background-color: #e9c914;
}

form .input-container {
    margin-bottom: 1rem;
}

form .container {
    display: flex;
    justify-content: center;
}

form div>input {
    display: block;
}

button {
    width: 70px;
    padding: 5px;
    background-color: #558fed;
    border: 3px solid black;
}

button:hover {
    background-color: #4fe7fe;
}

form .form-error {
    font-size: .75rem;
    color: red;
    font-weight: bold;
}

.delete-btn {
    background-color: rgb(231, 34, 34);
}

.delete-btn:hover {
    background-color: rgb(247, 77, 77);
}

.btn-container {
    display: flex;
    justify-content: space-between;
}